body{
    font-family: Arial, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/*Hero section */
.hero-section{
    background-color: #1F2937;
    min-height: 400px;
    gap: 3%;
    padding-bottom: 6%;
}

#wow{
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 4px 11px;
}

.left-elements,
.right-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

.right-elements{
    align-items: flex-end;
    min-width: 44%;
}

.logo{
    align-items: center;
    color: #F9FAF8;
    display: flex;
    font-size: 24px;
    height: 50px;
}

.title-header{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.info-text{
    color: #E5E7EB;
    font-size: 18px;
    padding-bottom: 8px;
}

img{
    align-self: stretch;
    border-radius: 15px;
    height: 280px;
}

.hero-section{
    display: flex;
    justify-content: center;
}

ul{
    align-items: center;
    display: flex;
    gap: 30px;
    height: 50px;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 50%;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}

button{
    background-color: #3882F6;
    border: #1F2937;
    border-radius: 6px;
    color: #E5E7EB;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    padding: 8px 20px;
    
}

/*Middle section */
.random-header{
    color: #1F2937;
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    padding: 2%;
}

.middle-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 6%;
}

.random-info{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 240px;
    height: 298px;
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image{
    align-self: center;
    border: 5px solid #3882F6;
    border-radius: 10px;
    max-height: 80%;
    max-width: 89%;
}

.subtext{
    color: #1F2937;
    text-align: center;
    width: 200px;
}

/*Quote section */
.quote-section{
    align-items: center;
    background-color: #E5E7EB;
    display: flex;
    height: 433px; 
    justify-content: center;
}

.quote-container{
    width: 62%;
}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author{
    font-weight: bolder;
    text-align: right;
}

/* Call to action section */
.call-section{
    align-items: center;
    display: flex;
    height: 244px;
    justify-content: center;
}

.call-container{
    align-items: flex-end;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    width: 60%;
}

.call-header{
    color: #F9FAF8;
    font-size: large;
    font-weight: bolder;
}

.call-text{
    align-items: flex-end;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.call-container button{
    border: solid #F9FAF8;
}

/*Footer section */
.footer{
    align-items: center;
    background-color: #1F2937;
    display: flex;
    height: 78px;
    justify-content: center;
}

.footer div{
    color: #F9FAF8;
}